<a href="https://colab.research.google.com/github/nisha1365/IIT-Summer-2023/blob/main/Capstone_Project_Nisha164.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import xgboost as xgb

# Importing the test and train data files

In [2]:
train_data = pd.read_csv('/content/Train_Data.csv')
test_data = pd.read_csv('/content/Test_Data.csv')
sample_submission = pd.read_csv('/content/Sample_Submission.csv')

In [3]:
train_data.head() # Top 5 values

,pc,ld,m0,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,m14,ma,pred
0,y,83.71,63.0,7.2,52.5,14.0232,130.8300,12.4280,188.8425,8.9520,201.1905,9.2896,141.9075,16.0968,150.3390,12.4880,173.1240,m78,0
1,y,108.94,31.5,12.8,84.0,13.2840,128.8350,13.5256,183.0990,8.8520,207.2385,8.4704,154.7805,13.3304,101.0205,12.5096,131.4075,m78,0
2,E,169.65,0.0,5.6,73.5,14.5472,128.9295,13.6424,174.4680,8.9800,190.3125,11.3056,156.7650,NaN,122.5350,11.7136,176.8200,m76,1
3,x,122.42,31.5,7.2,63.0,15.0152,119.8575,12.3344,186.8580,10.7208,193.8195,10.6096,175.7490,NaN,124.8030,13.8424,168.2625,m55,0
4,E,125.43,94.5,7.2,42.0,14.4176,135.4290,14.5824,187.8135,9.3088,203.1540,9.8280,172.7040,14.4720,120.2145,NaN,150.1185,m76,0

In [4]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22584 entries, 0 to 22583
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pc      22584 non-null  object
 1   ld      22362 non-null  float64
 2   m0      22584 non-null  float64
 3   m1      22584 non-null  float64
 4   m2      22584 non-null  float64
 5   m3      22270 non-null  float64
 6   m4      22117 non-null  float64
 7   m5      22008 non-null  float64
 8   m6      21909 non-null  float64
 9   m7      21796 non-null  float64
 10  m8      21684 non-null  float64
 11  m9      21537 non-null  float64
 12  m10     21484 non-null  float64
 13  m11     21357 non-null  float64
 14  m12     21203 non-null  float64
 15  m13     21085 non-null  float64
 16  m14     20995 non-null  float64
 17  ma      22584 non-null  object
 18  pred    22584 non-null  int64
dtypes: float64(16), int64(1), object(2)
memory usage: 3.3+ MB

In [5]:
train_data.shape

(22584, 19)

In [6]:
train_data.isnull().sum()

pc         0
ld       222
m0         0
m1         0
m2         0
m3       314
m4       467
m5       576
m6       675
m7       788
m8       900
m9      1047
m10     1100
m11     1227
m12     1381
m13     1499
m14     1589
ma         0
pred       0
dtype: int64

In [8]:
train_data.nunique()

pc          5
ld      11145
m0         28
m1         30
m2         25
m3       4585
m4       4553
m5       4519
m6       4555
m7       4590
m8       4571
m9       4541
m10      5916
m11      6256
m12      6159
m13      5061
m14      6121
ma          4
pred        2
dtype: int64

In [9]:
train_data.describe()

,ld,m0,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,m14,pred
count,22362.000000,22584.000000,22584.000000,22584.000000,22270.000000,22117.000000,22008.000000,21909.000000,21796.000000,21684.000000,21537.000000,21484.000000,21357.000000,21203.000000,21085.000000,20995.000000,22584.000000
mean,127.893905,78.002391,6.589621,65.664054,14.241585,123.207337,13.697683,183.894313,9.380175,199.786867,9.143454,169.239563,15.334764,122.868388,12.521853,168.530817,0.215772
std,39.078070,43.156539,3.360565,34.690224,0.801207,10.481427,0.798463,10.478648,0.800904,10.578785,0.799078,14.754047,1.214489,15.669803,0.923849,15.643776,0.411366
min,33.160000,0.000000,0.000000,0.000000,11.174400,84.084000,10.250400,133.507500,6.374400,159.778500,6.029600,100.170000,10.096000,54.253500,8.712000,95.970000,0.000000
25%,100.090000,42.000000,4.000000,42.000000,13.703200,116.067000,13.147200,176.809500,8.842200,192.651375,8.604000,159.715500,14.529600,112.365750,11.912000,158.109000,0.000000
50%,122.355000,73.500000,6.400000,63.000000,14.239200,123.207000,13.702400,183.949500,9.378800,199.741500,9.143200,169.359750,15.364000,123.007500,12.504000,168.441000,0.000000
75%,149.247500,105.000000,8.800000,84.000000,14.786400,130.357500,14.239200,190.932000,9.916000,206.944500,9.679200,178.741500,16.161600,133.465500,13.098400,179.361000,0.000000
max,385.860000,283.500000,23.200000,252.000000,17.199200,173.082000,17.140000,226.201500,12.335200,249.973500,12.329600,236.029500,20.512000,185.461500,18.170400,234.181500,1.000000

In [10]:
train_data.corr()

<ipython-input-10-8d2cc80a8830>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  train_data.corr()

,ld,m0,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,m14,pred
ld,1.000000,-0.009238,0.000226,0.002705,-0.005950,-0.014638,-0.003876,0.007796,-0.003680,-0.004116,-0.010603,-0.008579,0.005206,-0.002975,0.006338,-0.001511,0.130629
m0,-0.009238,1.000000,-0.257880,-0.080624,-0.007035,-0.005844,0.004807,0.000388,0.002767,-0.009053,0.011413,0.032976,-0.001227,0.037249,-0.031348,0.024316,0.008733
m1,0.000226,-0.257880,1.000000,0.007679,-0.008784,-0.001143,-0.009745,0.004303,-0.017575,0.005140,0.005273,0.009872,-0.032612,-0.084544,0.004952,-0.009950,-0.008790
m2,0.002705,-0.080624,0.007679,1.000000,-0.002065,-0.012961,0.002776,-0.009204,0.002517,0.001086,0.005361,0.017842,-0.002497,-0.002552,0.031428,0.013817,0.018494
m3,-0.005950,-0.007035,-0.008784,-0.002065,1.000000,0.010305,0.009132,0.008121,0.006517,-0.002599,0.004569,-0.006351,-0.002585,0.002085,0.006421,0.005029,0.004113
m4,-0.014638,-0.005844,-0.001143,-0.012961,0.010305,1.000000,0.004450,0.006654,-0.005707,0.003638,0.009629,-0.010627,-0.006006,-0.003713,-0.003216,-0.000666,-0.012064
m5,-0.003876,0.004807,-0.009745,0.002776,0.009132,0.004450,1.000000,0.004948,-0.009843,-0.006564,-0.007988,0.005374,0.009484,0.000572,-0.012855,0.010186,0.018661
m6,0.007796,0.000388,0.004303,-0.009204,0.008121,0.006654,0.004948,1.000000,0.006150,-0.003976,0.002338,0.004286,-0.001526,-0.013345,-0.008908,0.001588,0.017465
m7,-0.003680,0.002767,-0.017575,0.002517,0.006517,-0.005707,-0.009843,0.006150,1.000000,0.004990,0.004859,0.004474,-0.008620,0.008540,-0.002244,0.003170,0.015771
m8,-0.004116,-0.009053,0.005140,0.001086,-0.002599,0.003638,-0.006564,-0.003976,0.004990,1.000000,0.002101,-0.004952,-0.015747,-0.005173,-0.005469,-0.008572,0.017072
m9,-0.010603,0.011413,0.005273,0.005361,0.004569,0.009629,-0.007988,0.002338,0.004859,0.002101,1.000000,-0.005454,-0.005998,-0.008247,-0.008900,-0.010870,-0.003407
m10,-0.008579,0.032976,0.009872,0.017842,-0.006351,-0.010627,0.005374,0.004286,0.004474,-0.004952,-0.005454,1.000000,-0.033236,0.029442,0.029209,0.036409,-0.004900
m11,0.005206,-0.001227,-0.032612,-0.002497,-0.002585,-0.006006,0.009484,-0.001526,-0.008620,-0.015747,-0.005998,-0.033236,1.000000,0.092635,-0.094332,-0.084383,-0.005141
m12,-0.002975,0.037249,-0.084544,-0.002552,0.002085,-0.003713,0.000572,-0.013345,0.008540,-0.005173,-0.008247,0.029442,0.092635,1.000000,-0.000039,-0.021367,0.006627
m13,0.006338,-0.031348,0.004952,0.031428,0.006421,-0.003216,-0.012855,-0.008908,-0.002244,-0.005469,-0.008900,0.029209,-0.094332,-0.000039,1.000000,0.007523,0.003031
m14,-0.001511,0.024316,-0.009950,0.013817,0.005029,-0.000666,0.010186,0.001588,0.003170,-0.008572,-0.010870,0.036409,-0.084383,-0.021367,0.007523,1.000000,0.006598
pred,0.130629,0.008733,-0.008790,0.018494,0.004113,-0.012064,0.018661,0.017465,0.015771,0.017072,-0.003407,-0.004900,-0.005141,0.006627,0.003031,0.006598,1.000000

In [11]:
train_data.dropna(inplace = True)

In [12]:
train_data.isnull().sum()

pc      0
ld      0
m0      0
m1      0
m2      0
m3      0
m4      0
m5      0
m6      0
m7      0
m8      0
m9      0
m10     0
m11     0
m12     0
m13     0
m14     0
ma      0
pred    0
dtype: int64

In [13]:
train_data['pred'].value_counts()

0    10457
1     2841
Name: pred, dtype: int64

In [14]:
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [15]:
# Perform standardization on the float columns
float_columns = ['ld','m0', 'm1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12', 'm13', 'm14']
scaler = StandardScaler()
train_data[float_columns] = scaler.fit_transform(train_data[float_columns])

In [16]:
train_data

,pc,ld,m0,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,m14,ma,pred
0,y,-1.132372,-0.349810,0.175158,-0.367933,-0.270646,0.730976,-1.578672,0.479453,-0.536565,0.132563,0.183926,-1.862540,0.613054,1.754225,-0.032830,0.292998,m78,0
1,y,-0.485254,-1.081488,1.835009,0.539874,-1.197954,0.540996,-0.210170,-0.066291,-0.662206,0.705048,-0.842071,-0.987741,-1.651495,-1.391867,-0.009624,-2.370529,m78,0
5,y,0.840016,0.137976,1.123644,0.237271,-0.970141,-0.171928,0.734415,0.470474,1.645564,-0.386251,0.924367,-0.145052,0.152679,-1.202311,1.439474,0.079809,m78,0
7,z,0.222907,-0.105917,0.886523,0.842476,-0.074948,-0.162929,0.177838,0.527343,-0.689344,1.086705,0.243041,-0.262786,0.404805,0.097788,0.039367,-0.667695,m75,0
8,z,-0.686597,0.381869,0.649401,5.381511,-0.847705,-1.311807,-0.119403,0.197103,-0.681303,-1.048187,-0.783958,-0.401926,0.478151,-0.626945,0.954722,-1.144354,m75,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22578,y,-0.037171,-0.593702,0.412279,-0.065331,1.274867,0.945953,1.643091,0.718903,0.568069,0.676225,0.423392,-0.123646,-0.978941,-2.199656,-0.370609,1.342856,m78,0
22579,E,0.287799,-0.105917,0.175158,0.539874,-0.548638,-0.683874,0.238682,0.494419,-0.911477,-0.287856,0.098760,0.106114,1.658886,2.671863,0.057416,-1.540565,m76,1
22581,w,-0.313664,1.601333,-0.536207,-0.973138,-1.009281,-0.728869,-0.148329,0.674006,0.295679,1.882817,0.211980,-0.854310,0.510239,-0.859369,0.353940,-0.954629,m78,0
22582,y,2.267369,0.625762,-0.536207,-0.973138,-0.528566,-1.011839,-0.565263,-1.609740,-0.456155,0.054045,-2.087495,0.371551,1.179519,0.787021,0.231033,-0.666354,m78,0
22583,E,-0.184908,-1.081488,-0.061964,-0.670536,0.771070,2.511786,-0.684957,0.528341,0.855535,-0.709268,-0.122671,1.422594,0.896614,-0.969887,0.219000,0.074446,m76,0

In [9]:
# Replace missing values in each column
missing_counts = {'ld': 222, 'm3': 314, 'm4': 467, 'm5': 576, 'm6': 675, 'm7': 788, 'm8': 900, 'm9': 1047,
                  'm10': 1100, 'm11': 1227, 'm12': 1381, 'm13': 1499, 'm14': 1589}

for column, count in missing_counts.items():
    train_data[column].fillna(value=train_data[column].mean(), inplace=True)  # Replace missing values with the median of the column

# Verify if missing values have been handled
print(train_data.isnull().sum())

pc      0
ld      0
m0      0
m1      0
m2      0
m3      0
m4      0
m5      0
m6      0
m7      0
m8      0
m9      0
m10     0
m11     0
m12     0
m13     0
m14     0
ma      0
pred    0
dtype: int64

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
# Perform label encoding on 'pc' and 'ma' columns
train_data[['pc', 'ma']] = train_data[['pc', 'ma']].apply(LabelEncoder().fit_transform)

In [18]:
train_data

,pc,ld,m0,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,m14,ma,pred
0,3,-1.132372,-0.349810,0.175158,-0.367933,-0.270646,0.730976,-1.578672,0.479453,-0.536565,0.132563,0.183926,-1.862540,0.613054,1.754225,-0.032830,0.292998,3,0
1,3,-0.485254,-1.081488,1.835009,0.539874,-1.197954,0.540996,-0.210170,-0.066291,-0.662206,0.705048,-0.842071,-0.987741,-1.651495,-1.391867,-0.009624,-2.370529,3,0
5,3,0.840016,0.137976,1.123644,0.237271,-0.970141,-0.171928,0.734415,0.470474,1.645564,-0.386251,0.924367,-0.145052,0.152679,-1.202311,1.439474,0.079809,3,0
7,4,0.222907,-0.105917,0.886523,0.842476,-0.074948,-0.162929,0.177838,0.527343,-0.689344,1.086705,0.243041,-0.262786,0.404805,0.097788,0.039367,-0.667695,1,0
8,4,-0.686597,0.381869,0.649401,5.381511,-0.847705,-1.311807,-0.119403,0.197103,-0.681303,-1.048187,-0.783958,-0.401926,0.478151,-0.626945,0.954722,-1.144354,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22578,3,-0.037171,-0.593702,0.412279,-0.065331,1.274867,0.945953,1.643091,0.718903,0.568069,0.676225,0.423392,-0.123646,-0.978941,-2.199656,-0.370609,1.342856,3,0
22579,0,0.287799,-0.105917,0.175158,0.539874,-0.548638,-0.683874,0.238682,0.494419,-0.911477,-0.287856,0.098760,0.106114,1.658886,2.671863,0.057416,-1.540565,2,1
22581,1,-0.313664,1.601333,-0.536207,-0.973138,-1.009281,-0.728869,-0.148329,0.674006,0.295679,1.882817,0.211980,-0.854310,0.510239,-0.859369,0.353940,-0.954629,3,0
22582,3,2.267369,0.625762,-0.536207,-0.973138,-0.528566,-1.011839,-0.565263,-1.609740,-0.456155,0.054045,-2.087495,0.371551,1.179519,0.787021,0.231033,-0.666354,3,0
22583,0,-0.184908,-1.081488,-0.061964,-0.670536,0.771070,2.511786,-0.684957,0.528341,0.855535,-0.709268,-0.122671,1.422594,0.896614,-0.969887,0.219000,0.074446,2,0

In [19]:
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split

from sklearn.model_selection import GridSearchCV

from sklearn import metrics
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from imblearn.over_sampling import SMOTE
from sklearn.utils import class_weight

In [20]:
# Split the data into features (X) and target (y)
X = train_data.drop('pred', axis=1)
y = train_data['pred']

In [21]:
# Perform class balancing with SMOTE
smote = SMOTE(random_state=42)
X_resampled, y_resampled = smote.fit_resample(X, y)

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [23]:
# Calculate class weights
class_weights = class_weight.compute_class_weight('balanced', classes=[0, 1], y=y_train)

In [24]:
# Initialize the XGBoost classifier
xgb_classifier = xgb.XGBClassifier(scale_pos_weight=class_weights[1])

In [25]:
# Train the classifier on the training data
xgb_classifier.fit(X_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [26]:
# Make predictions on the test data
y_pred = xgb_classifier.predict(X_test)

In [27]:
y_pred

array([1, 0, 0, ..., 0, 0, 0])

In [28]:
# Calculate the F1 score
f1 = f1_score(y_test, y_pred)

# Print the F1 score
print("F1 Score:", f1)

F1 Score: 0.1761194029850746

In [29]:
# Evaluate the model performance
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.7233082706766917

In [30]:
test_data

,index,pc,ld,m0,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,m14,ma
0,0,E,156.46,73.5,8.8,105.0,13.2768,113.5365,13.9552,168.5460,8.5896,187.6560,8.3472,178.5945,14.3192,138.0435,12.7008,166.1100,m76
1,1,y,58.87,84.0,12.8,42.0,14.4440,126.6930,13.6688,190.6275,10.1712,202.5870,8.5416,166.9815,15.5944,142.5690,11.6832,177.7230,m78
2,2,w,139.68,126.0,3.2,73.5,14.2432,107.4885,13.8544,168.3255,10.2504,214.2735,11.3392,155.1795,16.0256,132.1005,13.0104,185.6085,m78
3,3,z,194.06,52.5,6.4,105.0,14.5480,138.6105,13.5080,196.6545,10.6304,213.4650,9.9224,191.1000,14.8256,128.0475,12.1984,180.2745,m75
4,4,x,173.14,42.0,8.0,136.5,14.9496,103.8765,13.8936,168.3570,9.6184,191.2050,9.9400,185.0310,13.8664,124.7610,NaN,157.6470,m55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3981,3981,z,109.45,126.0,4.0,94.5,14.6168,131.4495,13.1032,189.0840,8.3384,203.2275,9.6848,NaN,14.6384,97.2510,12.3336,180.0435,m75
3982,3982,w,188.31,136.5,1.6,21.0,12.9032,115.1535,14.3616,189.4830,7.6680,183.8865,9.8032,172.2945,16.1512,110.7330,12.1680,204.5505,m78
3983,3983,E,80.99,31.5,4.8,115.5,15.0696,114.6810,14.0200,186.0810,9.2080,193.6200,9.1600,170.1840,NaN,127.4700,13.5016,NaN,m76
3984,3984,w,120.64,42.0,0.8,126.0,13.8960,123.6585,13.5496,187.8975,9.7944,189.0525,9.4752,173.0295,17.1728,113.0430,13.1480,164.2410,m78
3985,3985,w,115.73,199.5,4.0,10.5,14.2592,129.0555,13.8904,179.6865,8.8712,214.6410,8.8816,167.6535,15.4640,136.3635,11.8728,178.5420,m78

In [31]:
test_data.drop('index', axis = 1, inplace = True)
test_data

,pc,ld,m0,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,m14,ma
0,E,156.46,73.5,8.8,105.0,13.2768,113.5365,13.9552,168.5460,8.5896,187.6560,8.3472,178.5945,14.3192,138.0435,12.7008,166.1100,m76
1,y,58.87,84.0,12.8,42.0,14.4440,126.6930,13.6688,190.6275,10.1712,202.5870,8.5416,166.9815,15.5944,142.5690,11.6832,177.7230,m78
2,w,139.68,126.0,3.2,73.5,14.2432,107.4885,13.8544,168.3255,10.2504,214.2735,11.3392,155.1795,16.0256,132.1005,13.0104,185.6085,m78
3,z,194.06,52.5,6.4,105.0,14.5480,138.6105,13.5080,196.6545,10.6304,213.4650,9.9224,191.1000,14.8256,128.0475,12.1984,180.2745,m75
4,x,173.14,42.0,8.0,136.5,14.9496,103.8765,13.8936,168.3570,9.6184,191.2050,9.9400,185.0310,13.8664,124.7610,NaN,157.6470,m55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3981,z,109.45,126.0,4.0,94.5,14.6168,131.4495,13.1032,189.0840,8.3384,203.2275,9.6848,NaN,14.6384,97.2510,12.3336,180.0435,m75
3982,w,188.31,136.5,1.6,21.0,12.9032,115.1535,14.3616,189.4830,7.6680,183.8865,9.8032,172.2945,16.1512,110.7330,12.1680,204.5505,m78
3983,E,80.99,31.5,4.8,115.5,15.0696,114.6810,14.0200,186.0810,9.2080,193.6200,9.1600,170.1840,NaN,127.4700,13.5016,NaN,m76
3984,w,120.64,42.0,0.8,126.0,13.8960,123.6585,13.5496,187.8975,9.7944,189.0525,9.4752,173.0295,17.1728,113.0430,13.1480,164.2410,m78
3985,w,115.73,199.5,4.0,10.5,14.2592,129.0555,13.8904,179.6865,8.8712,214.6410,8.8816,167.6535,15.4640,136.3635,11.8728,178.5420,m78

In [32]:
test_data.isnull().sum()

pc       0
ld      28
m0       0
m1       0
m2       0
m3      67
m4      71
m5     100
m6     121
m7     149
m8     148
m9     180
m10    200
m11    241
m12    220
m13    275
m14    285
ma       0
dtype: int64

In [33]:
# Perform label encoding on 'pc' and 'ma' columns
test_data[['pc', 'ma']] = test_data[['pc', 'ma']].apply(LabelEncoder().fit_transform)

In [34]:
test_data

,pc,ld,m0,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,m14,ma
0,0,156.46,73.5,8.8,105.0,13.2768,113.5365,13.9552,168.5460,8.5896,187.6560,8.3472,178.5945,14.3192,138.0435,12.7008,166.1100,2
1,3,58.87,84.0,12.8,42.0,14.4440,126.6930,13.6688,190.6275,10.1712,202.5870,8.5416,166.9815,15.5944,142.5690,11.6832,177.7230,3
2,1,139.68,126.0,3.2,73.5,14.2432,107.4885,13.8544,168.3255,10.2504,214.2735,11.3392,155.1795,16.0256,132.1005,13.0104,185.6085,3
3,4,194.06,52.5,6.4,105.0,14.5480,138.6105,13.5080,196.6545,10.6304,213.4650,9.9224,191.1000,14.8256,128.0475,12.1984,180.2745,1
4,2,173.14,42.0,8.0,136.5,14.9496,103.8765,13.8936,168.3570,9.6184,191.2050,9.9400,185.0310,13.8664,124.7610,NaN,157.6470,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3981,4,109.45,126.0,4.0,94.5,14.6168,131.4495,13.1032,189.0840,8.3384,203.2275,9.6848,NaN,14.6384,97.2510,12.3336,180.0435,1
3982,1,188.31,136.5,1.6,21.0,12.9032,115.1535,14.3616,189.4830,7.6680,183.8865,9.8032,172.2945,16.1512,110.7330,12.1680,204.5505,3
3983,0,80.99,31.5,4.8,115.5,15.0696,114.6810,14.0200,186.0810,9.2080,193.6200,9.1600,170.1840,NaN,127.4700,13.5016,NaN,2
3984,1,120.64,42.0,0.8,126.0,13.8960,123.6585,13.5496,187.8975,9.7944,189.0525,9.4752,173.0295,17.1728,113.0430,13.1480,164.2410,3
3985,1,115.73,199.5,4.0,10.5,14.2592,129.0555,13.8904,179.6865,8.8712,214.6410,8.8816,167.6535,15.4640,136.3635,11.8728,178.5420,3

In [37]:
# Perform standardization on the float columns
float_columns = ['ld','m0', 'm1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12', 'm13', 'm14']
scaler = StandardScaler()
test_data[float_columns] = scaler.fit_transform(test_data[float_columns])

In [38]:
test_data

,pc,ld,m0,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,m14,ma
0,0,0.748702,-0.082522,0.666290,1.116354,-1.139125,-0.922389,0.287855,-1.464581,-0.932899,-1.121621,-1.003947,0.633195,-0.842430,0.980723,0.189823,-0.143992,2
1,3,-1.769410,0.158279,1.859066,-0.680693,0.323733,0.351253,-0.075114,0.671594,1.048548,0.279930,-0.761125,-0.150824,0.195479,1.274153,-0.908892,0.591681,3
2,1,0.315728,1.121482,-1.003595,0.217831,0.072069,-1.507879,0.160106,-1.485912,1.147771,1.376924,2.733313,-0.947602,0.546440,0.595384,0.524102,1.091220,3
3,4,1.718894,-0.564124,-0.049375,1.116354,0.454077,1.504952,-0.278903,1.254648,1.623839,1.301031,0.963610,1.477468,-0.430262,0.332590,-0.352624,0.753316,1
4,2,1.179095,-0.804925,0.427735,2.014878,0.957405,-1.857546,0.209786,-1.482865,0.355994,-0.788482,0.985594,1.067736,-1.210973,0.119496,NaN,-0.680115,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3981,4,-0.464296,1.121482,-0.765040,0.816846,0.540304,0.811716,-0.791925,0.522275,-1.247605,0.340053,0.666828,NaN,-0.582628,-1.664231,-0.206647,0.738683,1
3982,1,1.570526,1.362283,-1.480705,-1.279708,-1.607360,-0.765852,0.802905,0.560874,-2.087490,-1.475458,0.814719,0.207868,0.648669,-0.790069,-0.385447,2.291179,3
3983,0,-1.198649,-1.045726,-0.526485,1.415862,1.107801,-0.811593,0.369979,0.231763,-0.158160,-0.561789,0.011308,0.065384,NaN,0.295146,1.054456,NaN,2
3984,1,-0.175561,-0.804925,-1.719260,1.715370,-0.363078,0.057492,-0.226181,0.407492,0.576488,-0.990533,0.405020,0.257490,1.480168,-0.640290,0.672670,-0.262391,3
3985,1,-0.302253,2.807088,-0.765040,-1.579216,0.092122,0.579960,0.205731,-0.386844,-0.580107,1.411421,-0.336437,-0.105456,0.089344,0.871794,-0.704178,0.643564,3

In [39]:
preds = xgb_classifier.predict(test_data)

In [28]:
sample_submission.head()

   pred
0     0
1     0
2     0
3     0
4     0

In [40]:
# Create a new DataFrame with the predicted values
pred_df = pd.DataFrame({'pred': preds})

In [41]:
pred_df

      pred
0        0
1        0
2        0
3        1
4        0
...    ...
3981     0
3982     0
3983     0
3984     0
3985     1

[3986 rows x 1 columns]

In [42]:
# Save the predicted values to a CSV file
pred_df.to_csv('pred_submission.csv', index=False)